.navbar {
    background-color: #C1CDC0;
    padding: none;
    border-radius: 0px 0px 20px 20px;
}

.logo-img {
    height: 55px;
}

.content-container {
    background-color: #f8f0f3;
    border-radius: 20px;
}