.navbar {
    background-color: #C1CDC0;
    padding: none;
    border-radius: 0px 0px 20px 20px;
}

.logo-img {
    height: 55px;
}

.content-container {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.book-card{
    flex-direction: row;
    justify-content: space-around;
    border: solid;
    background-color: transparent;
}

.book-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.img-fit{
    height: 400px; 
    width: 300px;
    padding: 1%;
    display: flex;
}


.bookPic{
    object-fit: cover;
}