@font-face {
    src: url(fonts/edda.filled.ttf);
    font-family: edda;
}

/* suggestion styling */
.suggestion-list {
    cursor: pointer;
}

.suggestion:hover {
    background-color: #dde4d8;
}

.suggestion {
    max-height: 40%;
}

.suggestion-thumbnail {
    max-height: 85px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.suggestioninfo{
    margin-top: auto;
    margin-bottom: auto;
    padding: 1%;
}

.title {
    line-height: 12px;
    font-weight: bold;
}

.author {
    line-height: 8px;
    font-weight: lighter;
    
}


.search-button {
    background-color: #3A4B3A;
    color: #fff;
} 

.navLink {
    font-family: "Helvetica Neue",Helvetica,Arial;
}

.searchbar-container {
    margin-top: auto;
    margin-bottom: auto;
}